.textarea {
    display: block;
    overflow: clip auto;
    resize: block;

    white-space: wrap;
    min-block-size: max(2em, 100%);
    max-block-size: 50em;

    unicode-bidi: plaintext;
    cursor: text;

    & [data-marker="spelling"] {
        text-decoration-line: spelling-error;
    }

    & [data-marker="grammar"] {
        text-decoration-line: grammar-error;
    }
}