.textarea {
    display: block;
    overflow: clip auto;
    resize: block;

    white-space: wrap;
    min-block-size: max(2em, 100%);
    max-block-size: 50em;

    unicode-bidi: plaintext;
    cursor: text;

    & ::highlight(search-results) {
        background-color: var(--secondary-900);
    }

    & ::highlight(spelling-error) {
        text-decoration-line: spelling-error;
    }

    & ::highlight(grammar-error) {
        text-decoration-line: grammar-error;
    }
}

.search {
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: 0;
}

.suggestions {
    position-anchor: --suggestions;

    position: fixed;
    inset-inline-start: anchor(start);
    inset-block-start: anchor(end);
    position-try-fallbacks: flip-block, flip-inline;

    margin: 0;
    padding: var(--padding-m) 0;
    border: 1px solid var(--surface-300);
    background-color: var(--surface-600);
    box-shadow: var(--shadow-2);
    list-style: none;

    display: none;
    grid-auto-flow: row;

    &:popover-open {
        display: block grid;
    }

    & > li {
        padding: var(--padding-m);

        &:hover {
            background-color: oklch(from var(--info) l c h / .5);
        }
    }
}