.main {
    display: grid;
    place-content: center;
    gap: var(--padding-m);

    & > :is(.primary, .secondary) {
        display: grid;
        grid: 3em / repeat(5, 3em);
    }

    & > h1 {
        margin-block-end: 0;
    }

    ul {
        display: flex;
        flex-flow: column;
        gap: var(--padding-s);
        padding-inline-start: var(--padding-l);
    }
}