.root {
    display: grid;
    grid-auto-flow: column;
    margin: 0;
    padding: 0;

    & > div {
        display: contents;
    }
}

:is(.item, .child > button) {
    padding: var(--padding-m) var(--padding-l);

    background-color: inherit;
    color: var(--text-1);
    border: none;
    cursor: pointer;

    text-align: start;

    &:hover {
        background-color: var(--surface-500);
    }
}

.child > dialog {
    grid-template-columns: auto auto;
    place-content: start;

    gap: var(--padding-m);
    padding: var(--padding-m) 0;

    & > .separator {
        grid-column: span 2;
        inline-size: calc(100% - (2 * var(--padding-m)));
        margin-block: 0;
        border: 1px solid var(--surface-300);
    }

    & > .item {
        grid-column: span 2;
        display: grid;
        grid-template-columns: subgrid;
        align-items: center;

        background-color: var(--surface-500);

        &:hover {
            background-color: var(--surface-600);
        }
    }
}