.commandPalette {
    display: none;
    background-color: var(--surface-700);
    color: var(--text-1);
    gap: var(--padding-m);
    padding: var(--padding-l);
    border: 1px solid var(--surface-500);

    &[open] {
        display: grid;
    }

    &::backdrop {
        background-color: color(from var(--surface-700) xyz x y z / .2);
        backdrop-filter: blur(.25em);
        pointer-events: all !important;
    }
}

.search {
    display: grid;
    gap: var(--padding-m);

    & > input {
        background-color: var(--surface-600);
        color: var(--text-1);
        border: none;
        padding: var(--padding-m);
    }

    & > output {
        display: contents;
        color: var(--text-2);

        & > .selected {
            background-color: color(from var(--info) xyz x y z / .5);
        }

        & ::highlight(command-pelette-query) {
            background-color: var(--secondary-900);
        }
    }
}